{% from 'macros.html' import header %}
{% from 'macros.html' import topic %}
{% from 'macros.html' import create_card %}
{% from 'macros.html' import head %}
{% from 'macros.html' import formulate_link %}
{% from 'macros.html' import button %}
{% from 'macros.html' import login_button %}
{% from 'macros.html' import upvote_button %}
{% from 'macros.html' import comment_box %}
{% from 'macros.html' import thread_title %}

<!DOCTYPE html>

<head>
	{{head(title=title)}}
	<link href="{{ url_for('static', filename='css/thread.css') }}" rel="stylesheet">
  	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body class="container">

	{{header(isLoggedIn)}}
	<div class="card-heading card-white p-3 text-white">
		<h4>{{title}}</h4>
	</div>



	<div id="comment-section">	

			{{
				create_card(
					user=posts[0]["postingUser"]
				   ,description=posts[0]["description"]
				   ,createdTime=posts[0]["timeAgo"]
				   ,isLoggedIn=isLoggedIn
				   ,cardID=posts[0]["postID"]
				   ,upvoteCount=posts[0]["upvoteCount"]
				)
			}}


	

	{% if isLoggedIn %}
		
		<form id="comment-box" class="card card-white post py-md-3 px-md-3">
			<div class="form-group">
				<label for="comment">Leave a Comment:</label>
				<textarea class="form-control" rows="3" name="description"
				placeholder="What are your thoughts?" id="comment-description"></textarea>
				<br>
				<input style="display:none" name="topicID" value="{{posts[0]['topicID']}}">
				{{button("Comment")}}
			</div>
		</form>
		
	{% else %}

		{{login_button("Login to create a comment")}}

	{% endif %}

	<br>

	<h3> <span class="badge badge-light">{{ posts|length - 1 }} Comments!</span> </h3>


	{% for i in range(1, posts|length) %}
			
				{{
					create_card(
						user=posts[i]["postingUser"]
					   ,description=posts[i]["description"]
					   ,createdTime=posts[i]["timeAgo"]
					   ,isLoggedIn=isLoggedIn
					   ,cardID=posts[i]["postID"]
					   ,upvoteCount=posts[i]["upvoteCount"]
					)
				}}
				
	{% endfor %}


		
	</div>
	
	

	<script>
		
		$( ".markdown" ).each(function() {
		
			$(this).html(
			
				marked($(this).html())
				
			);
		});
				
		$(document.body).on('click','.upvote',function(e) {
		    
		    let id = $(this).attr('data-id');
		    
		    let url='{{url_for('upvote')}}';
		    
		    let data= {postID: id}
		    
		    var that = $(this);
		    
			$.post(url,data)
			    .done(function(response){  

			    	that.find(".upvote-count").text(response);
			
			    })
			    .fail(function(xhr, status, error) {
				    for (var i = 0; i < 5; i++) {
						that.animate({ marginLeft: '5px' }, 50);
						that.animate({ marginLeft: '-5px' }, 50);
					}
					that.animate({ marginLeft: 0 }, 50);					
			    });
		});
		$(document.body).on('submit','#comment-box',function(e) {
		    
		    let url='{{url_for('save_comment')}}';
		    
		    let data= $( this ).serialize();
		    
		    e.preventDefault();
		    
			$.post(url,data)
			    .done(function(response){  
					
					$("#comment-description").val('');
					
					$("#comment-section").append(`{{create_card(isLoggedIn)}}`);
					
					$("#comment-section .thread-card .username")
						.last().text(response["postingUser"]);

					$("#comment-section .thread-card .time")
						.last().text(response["timeAgo"]);
					
					$("#comment-section .thread-card .markdown")
						.last().html(marked(response["description"]));

					$("#comment-section .thread-card .upvote .upvote-count")
						.last().text(response["upvoteCount"]);

					$("#comment-section .thread-card .upvote ")
						.last().attr("data-id",response["postID"]);

			    })
			    .fail(function(xhr, status, error) {

			    });
		});
		
	</script>
</body>
